# Gradle wrapper and build
.gradle/
build/

# Assorted other IDE build, settings, etc
.project
.classpath
bin/
.settings/
.idea/
.vscode/
target/
liquibase-spanner.iml
.DS_Store

*.log
Dockerfile
docker_run.sh